/* 
Todos:

Styles for the overall body;
Proper Table Styling

Animations to Indicate Field Creation


*/
body {
	position: relative;
	background-color: #ddddff;
	padding-top: 40px;
	/* padding-left: 10px; */
	/* padding-right: 10px; */
	font-family: "Source Sans Pro", sans-serif;
}
.navbar {
	position: fixed;
	display: flex;
	padding: 8px;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
}
.right-banner {
	position: absolute;
	font-size: 20px;
	right: 35px;
}
.container {
	/* background-color: #fff; */
	margin-top: 50px;
	/* width: 90vw; */
	margin: auto;
	border-radius: 10px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.table-div {
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaff;
	padding: 5px;
	table-layout: fixed;
	width: 100%;
	background-color: #fff;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.employee-table {
	padding: 5px;
	table-layout: fixed;
	width: 100%;
	background-color: #fff;
}
.employee-table tr {
	transition: all 0.5s ease-in-out;
}
.employee-table tr:nth-child(even) {
	background-color: #eeeeff;
}

.employee-table td {
	padding: 3px;
	text-align: center;
}
.action-cell {
	border: none;
}
input {
	width: 90%;
}
.new-record-div {
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #aaaaff;
	display: none;
	margin-top: 15px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#new-record-form input,
select {
	display: block;
	margin-bottom: 10px;
}
input.error {
	background-color: #ffbbbb;
}
input.good {
	background-color: #bbffbb;
}
.search-div {
	display: inline-flex;
	margin-bottom: 10px;
}
#search-box {
	padding: 5px;
	font-size: 1em;
}
#clear-search {
}

button {
	border-radius: 5px;
	padding: 5px;
	margin-right: 3px;
	margin-left: 3px;
	border-width: 0px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
button:active {
	transform: scale(0.95);
}
button.confirm {
	background-color: #bbffbb;
}
button.warning {
	background-color: #ffbbbb;
}
button.edit {
	background-color: #ffffaa;
}
button.confirm:hover {
	background-color: #66ff66;
}
button.warning:hover {
	background-color: #ff6666;
}
button.edit:hover {
	background-color: #cccc66;
}

.pagi-bar {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.pagi-bar button {
	margin-left: 10px;
	margin-right: 10px;
	background-color: orange;
}
.pagi-bar button:hover {
	background-color: coral;
}
